/config.js
plugins/lic
tmp/
node_modules/
package-lock.json
www/public/
www/node_modules/
daemon/
www/log
log/
www/public--
archiveFiscal/
plugins/mailer.js
www/src/pos/resources/
www/src/off/resources/
plugins/devprint
