.top-bar
{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1500;
}
.main-toolbar
{
    background-color: #3e8ef7;
    padding: 5px 10px;
    border-bottom: 1px solid #bdc3c7
}
.dx-device-mobile .dx-toolbar
{
    padding: 3px;
}
.dx-drawer-panel-content
{
    background-color:#ffffff;
    border-right: 1px solid #bdc3c7;
}
.main-drawer
{
    padding-top: 46px;
    background-color:#f1f4f5;
}
.dx-tabpanel-tabs
{
    height:fit-content;
}
.dx-datagrid .dx-row > td {
    padding: 5px;
    font-size: smaller;
    -webkit-text-stroke: thin;
  }
.dx-tab-content .dx-icon.dx-icon-close {
    display: inline-block;
    opacity: 0.6;
    margin-right: 0;
    margin-left: 7px;
    font-size: 12px;
}
.dx-checkbox-container
{
    height: fit-content;
}
.dx-popup-title .dx-closebutton {
    display: block;
    position: relative;
    left: 0px;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
}
/* NdImageUpload */ 
#dropzone-external 
{
    width: 100%;
    height: 220px;
    background-color: rgba(183, 183, 183, 0.1);
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
}
#dropzone-external > * 
{
    pointer-events: none;
}
#dropzone-external.dropzone-active 
{
    border-style: solid;
}
.widget-container > span 
{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}
#dropzone-image 
{
    max-width: 100%;
    max-height: 100%;
}
#dropzone-text > span 
{
    font-weight: 100;
    opacity: 0.5;
}
#upload-progress 
{
    display: flex;
    margin-top: 10px;
}
.flex-box 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dx-form-group-content
{
    height: fit-content;
}
#dsp-textbox
{
    position:'absolute';    
    z-index: 1;
    border-radius:'4px';
    height:'100%';
    padding:'5px';
    margin:'2px';
    width:'100%';
    white-space: 'nowrap';
    overflow: 'hidden'
}
.dx-layout-manager
{
    height: fit-content;
}
.row {
    --bs-gutter-x: 0.5rem;
}
.dx-layout-manager.dx-layout-manager-one-col .dx-box-item:not(:first-child) .dx-single-column-item-content > .dx-field-item {
    padding-top: 5px;
}
.dx-popup-content {
    -webkit-user-drag: none;
    padding: 3px;
}
.btn-transparent.btn-primary
{
    color: #fff;
    border-color: #ffffff00;
    background-color: #ffffff00;
}
.btn-purple-light.btn-primary
{
    color: #fff;
    border-color: #5f27cd;
    background: radial-gradient(circle, #9a74e5, #5f27cd);
}
/* .dx-texteditor-input {
    padding: 2px;   
}
.dx-texteditor-buttons-container > .dx-button.dx-button-has-icon:not(.dx-button-has-text) > .dx-button-content {
    padding: 2px;
}
.dx-placeholder::before {
    padding: 2px;
}
.dx-device-mobile .dx-field {
    margin: 4 4 4px;
}
.dx-field-label {
    padding: 4px 4px 4px 0;
} */