USE [CEOPOS]
GO
/****** Object:  Trigger [dbo].[tst]    Script Date: 29.04.2024 09:58:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ali Kemal Karaca
-- Create date: 29.04.2024
-- =============================================
ALTER TRIGGER [dbo].[piqsoft] ON [dbo].[report]
   AFTER  INSERT
AS 
BEGIN
	
	DECLARE @salesmanName AS NVARCHAR(MAX), @indexx AS NVARCHAR(MAX), @SID AS NVARCHAR(MAX), @packDate AS DATE, @unit AS NVARCHAR(MAX), 
	@qty AS NVARCHAR(MAX), @unitPrice AS NVARCHAR(MAX), @remark AS NVARCHAR(MAX), @ITEM AS UNIQUEIDENTIFIER, @BALANCE_GUID AS UNIQUEIDENTIFIER

	SELECT @salesmanName = salesmanName, @indexx = ISNULL(indexx,0), @SID = SID, @packDate = packDate, @unit = unit, 
	@qty = CASE WHEN unit = 'kg' THEN ISNULL(netKg,0) ELSE ISNULL(AMOUNT,0) END,@unitPrice = ISNULL(unitPrice,0), @remark = remark FROM inserted

	SET @ITEM = ISNULL((SELECT TOP 1 GUID FROM [GENDB].[dbo].[ITEMS] WHERE CODE = 'B' + RIGHT(REPLICATE('0', 4) + CAST(@indexx AS NVARCHAR(4)), 4)),'00000000-0000-0000-0000-000000000000')
	SET @BALANCE_GUID = ISNULL((SELECT TOP 1 GUID FROM [GENDB].[dbo].[BALANCE_COUNTER] WHERE TICKET_NO = @SID),'00000000-0000-0000-0000-000000000000')
	
	IF @ITEM <> '00000000-0000-0000-0000-000000000000'
	BEGIN
		IF @BALANCE_GUID = '00000000-0000-0000-0000-000000000000'
		BEGIN
			EXEC [GENDB].[dbo].[PRD_BALANCE_COUNTER_INSERT]
			@CUSER = 'Admin',
			@LUSER = 'Admin',
			@ITEM = @ITEM,
			@TICKET_NO = @SID,
			@TICKET_DATE = @packDate,
			@WEIGHER = @salesmanName,
			@UNIT = @unit,
			@QUANTITY = @qty,
			@PRICE = @unitPrice
		END
		ELSE
		BEGIN
			EXEC [GENDB].[dbo].[PRD_BALANCE_COUNTER_UPDATE]
			@GUID = @BALANCE_GUID,
			@TICKET_DATE = @packDate,
			@WEIGHER = @salesmanName,
			@UNIT = @unit,
			@QUANTITY = @qty,
			@PRICE = @unitPrice,
			@STATUS = 1
		END
	END
END
