.top-bar
{
    right: 0;
    left: 0;
    height: 70px;
    z-index: 1500;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    background-color: #0d6efd;
}
.main-toolbar
{
    background-color: #ecf0f1;
    padding: 5px 10px;
    border-bottom: 1px solid #bdc3c7
}
.dx-drawer-panel-content
{
    background-color:#ecf0f1;
    border-right: 1px solid #bdc3c7;
}
.main-drawer
{
    padding-top: 46px;
}
.dx-tabpanel-tabs
{
    height:fit-content;
}
.dx-tab-content .dx-icon.dx-icon-close {
    display: inline-block;
    opacity: 0.6;
    margin-right: 0;
    margin-left: 7px;
    font-size: 12px;
}
.dx-checkbox-container
{
    height: fit-content;
}
/* NdImageUpload */ 
#dropzone-external 
{
    width: 100%;
    height: 220px;
    background-color: rgba(183, 183, 183, 0.1);
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
}
#dropzone-external > * 
{
    pointer-events: none;
}
#dropzone-external.dropzone-active 
{
    border-style: solid;
}
.widget-container > span 
{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}
#dropzone-image 
{
    max-width: 100%;
    max-height: 100%;
}
#dropzone-text > span 
{
    font-weight: 100;
    opacity: 0.5;
}
#upload-progress 
{
    display: flex;
    margin-top: 10px;
}
.flex-box 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dx-form-group-content
{
    height: fit-content;
}
.dx-buttongroup-wrapper
{
    flex-flow: column nowrap;
}
.dx-selection td{
    background:#0d6efd !important;
    color: white !important;
}
.simple-keyboard 
{
    /* max-width: 500px; */
    margin: 0 auto;
}
.simple-keyboard .hg-button.hg-standardBtn
{
    height: 60px;
    background-color: #0d6efd;
    color: white;
    font-size: 20pt;
}
.simple-keyboard .hg-button.hg-functionBtn.hg-button-numbers
{
    height: 60px;
    background-color: #0d6efd;
    color: white;
    font-size: 20pt;
}
.simple-keyboard .hg-button.hg-functionBtn.hg-button-space 
{
    height: 60px;
    min-width: 150px;
    max-width: none;
    background-color: #0d6efd;
    color: white;
    font-size: 20pt;
}
.simple-keyboard .hg-button.hg-functionBtn.hg-button-space.hg-activeButton
{
    background-color: #ecf0f1;
}
.simple-keyboard .hg-button.hg-functionBtn.hg-button-backspace
{
    height: 60px;
    background-color: #0d6efd;
    color: white;
    font-size: 20pt;
}
.simple-keyboard .hg-button.hg-functionBtn.hg-button-backspace.hg-activeButton
{
    background-color: #ecf0f1;
}
.simple-keyboard .hg-theme-default.hg-button[data-skbtnuid^="numbers-"] 
{
    height: 60px;
    width: 33%;
    max-width: none;
    background-color: #0d6efd;
    color: white;
    font-size: 20pt;
}
.simple-keyboard .hg-button.hg-functionBtn.hg-button-abc 
{
    height: 60px;
    width: 2%;
    max-width: none;
    background-color: #0d6efd;
    color: white;
    font-size: 20pt;
}
.simple-keyboard .hg-button.hg-functionBtn.hg-button-abc.hg-activeButton
{
    background-color: #ecf0f1;
}
.simple-keyboard.hg-layout-default .hg-button.simple-keyboard-rate
{
    background-color: #dc3545;
}
.simple-keyboard.hg-layout-default .hg-button.simple-keyboard-rate.hg-activeButton
{
    background-color: #eb8714;
}
.dx-data-row .cell-fontsize 
{
    font-size: 13px;
}
.dx-widget.dx-datagrid-pager.dx-pager
{
    padding-top: 1px;
    padding-bottom: 1px;
}