/* body{
    color: aliceblue;
    overflow-x: hidden;
} */
.infoContainer{
    background-color :#0B2559;
    margin: 10px;
    height: 49.8rem;
    width: 100%;
    border-radius: 10px;
}
.productImg{
    margin: 40px;
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    height: 400px;
    width: 20rem;
}
.productCodeBarre{
    margin: 40px;
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    height: 150px;
    width: 20rem;
}
.btn-success{
    width: 20rem;
    margin: 40px;
}
.productName{
    margin: 20px;
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    height: 4rem;
    width: 55rem; 
    float: right;
    text-align: center;
    font-size: 26px;
}
.productData{
    margin: 20px;
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    height: 150px;
    width: 20rem;
    position: absolute;
    margin-top: 10rem;
    margin-right: 1rem;
    float: right;
}

