.top-bar
{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1500;
}
.main-toolbar
{
    background-color: #3e8ef7;
    padding: 5px 10px;
    border-bottom: 1px solid #bdc3c7
}
.dx-device-mobile .dx-toolbar
{
    padding: 3px;
}
.dx-drawer-panel-content
{
    background-color:#ffffff;
    border-right: 1px solid #bdc3c7;
}
.main-drawer
{
    padding-top: 46px;
    background-color:#f1f4f5;
}
.dx-tabpanel-tabs
{
    height:fit-content;
}
.dx-datagrid .dx-row > td {
    padding: 5px;
    font-size: smaller;
    -webkit-text-stroke: thin;
  }
.dx-tab-content .dx-icon.dx-icon-close {
    display: inline-block;
    opacity: 0.6;
    margin-right: 0;
    margin-left: 7px;
    font-size: 12px;
}

/* Sadece Plus/Minus İcon Renkleri - Güçlü Override */
.item-quantity-box .dx-texteditor-buttons-container .dx-button .dx-icon-minus {
    color: #dc3545 !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

.item-quantity-box .dx-texteditor-buttons-container .dx-button .dx-icon-plus {
    color: #28a745 !important;
    font-size: 28px !important;
    font-weight: bold !important;
}

/* Alternatif selector - eğer yukarısi çalışmazsa */
.dx-texteditor .dx-texteditor-buttons-container .item-quantity-box .dx-icon {
    font-size: 24px !important;
}

.dx-texteditor .dx-texteditor-buttons-container .item-quantity-box .dx-icon-minus {
    color: #dc3545 !important;
}

.dx-texteditor .dx-texteditor-buttons-container .item-quantity-box .dx-icon-plus {
    color: #28a745 !important;
}

/* En güçlü override - tüm ihtimaller */
div .dx-icon-minus {
    color: #dc3545 !important;
    font-size: 28px !important;
}

div .dx-icon-plus {
    color: #28a745 !important;
    font-size: 28px !important;
}

.dx-checkbox-container
{
    height: fit-content;
}
.dx-popup-title .dx-closebutton {
    display: block;
    position: relative;
    left: 0px;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
}
/* NdImageUpload */ 
#dropzone-external 
{
    width: 100%;
    height: 220px;
    background-color: rgba(183, 183, 183, 0.1);
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
}
#dropzone-external > * 
{
    pointer-events: none;
}
#dropzone-external.dropzone-active 
{
    border-style: solid;
}
.widget-container > span 
{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}
#dropzone-image 
{
    max-width: 100%;
    max-height: 100%;
}
#dropzone-text > span 
{
    font-weight: 100;
    opacity: 0.5;
}
#upload-progress 
{
    display: flex;
    margin-top: 10px;
}
.flex-box 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dx-form-group-content
{
    height: fit-content;
}
#dsp-textbox
{
    position:'absolute';    
    z-index: 1;
    border-radius:'4px';
    height:'100%';
    padding:'5px';
    margin:'2px';
    width:'100%';
    white-space: 'nowrap';
    overflow: 'hidden'
}
.dx-layout-manager
{
    height: fit-content;
}
.row {
    --bs-gutter-x: 0.5rem;
}
.dx-layout-manager.dx-layout-manager-one-col .dx-box-item:not(:first-child) .dx-single-column-item-content > .dx-field-item {
    padding-top: 5px;
}
.dx-popup-content {
    -webkit-user-drag: none;
    padding: 3px;
}
.item-quantity-box .dx-texteditor-input {
    font-weight: bold !important;
    font-size: 18px !important;
    color: #333 !important;
    text-align: center !important;
}
.item-quantity-box .dx-texteditor-buttons-container .dx-button {
    width: 60px !important;
    height: 60px !important;
    min-width: 60px !important;
}
.item-quantity-box .dx-texteditor-buttons-container .dx-button .dx-icon {
    font-size: 32px !important;
}
/* .dx-button-content {
    height: 35px;
    max-height: 100%;
    line-height: 0;
    width: 35px;
} */
/* .dx-texteditor-input {
    padding: 2px;   
}
.dx-texteditor-buttons-container > .dx-button.dx-button-has-icon:not(.dx-button-has-text) > .dx-button-content {
    padding: 2px;
}
.dx-placeholder::before {
    padding: 2px;
}
.dx-device-mobile .dx-field {
    margin: 4 4 4px;
}
.dx-field-label {
    padding: 4px 4px 4px 0;
} */